<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="su.sadrobot.yashlang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_yashlang_launcher"
        android:roundIcon="@mipmap/ic_yashlang_launcher_round"

        android:label="@string/yashlang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Glagna"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WatchVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang"
            android:theme="@style/WatchVideoTheme" />
        <activity
            android:name=".AddRecommendedPlaylistsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_add_recommended_playlists"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddPlaylistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_add_playlist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchOnlinePlaylistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_search_playlist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ConfigurePlaylistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_view_playlist"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".ConfigurePlaylistsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_playlists"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".ConfigureProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_edit_profile"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".SearchVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_search"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".PlaylistsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_playlists"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".PlaylistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_playlist"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".HistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_history"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StarredActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_starred"
            android:theme="@style/CustomToolbarTheme" />
        <activity
            android:name=".BlacklistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_blacklist"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExportDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_export"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ImportDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_import"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ImportPlaylistsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_import_playlists"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ConfigureMoarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_configure_moar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StreamCacheActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/yashlang_stream_cache"
            android:theme="@style/CustomToolbarTheme" />
    </application>
</manifest>
